<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MARMITADAKIMASU</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container-filter" >
  <header>

    <h1>MarmITADAKIMASU!</h1>

    <!-- 
    to do afficher  logo  - titre - bouton burger
    menu burger extend par défaut
    -->



  </header>