<div>

    <!--  un bandeau qui présente la recette et renvoi vers sa page renvoie vers la page recette  -->

<a href="../recipe/<%= recipe.id %>">
                <p>JE suis un bandeau lien vers la recette  : <%- recipe.title
        %> </p>
    </a>

</div>