.burger {
  width: 50px;
  height: 52px;

  background-image: url("../assets/menu_burger_SS.png");
  background-repeat: no-repeat;
}

.burger:hover {
  cursor: pointer;
}

.scale {
  margin: 125px; /*scale * width /2 */
  transform: scale(5);
  image-rendering: pixelated;
}
