<%- include("../partials/head", { title: "Page d'accueil" }) %>

<main>
    <h1> 404 not found <h1>
    <p>
        la ressource <%=ressource %> demandé n'existe pas avec l'id : <%=id %>
    </p>
</main>

<%- include("../partials/footer") %>