<%- include("../partials/head", { title: "Page d'accueil" }) %>

<main>
  
    <!-- to do description categorie recette a prendre dans data
    
    -->

   <% include("../components/recipeLinkComponent" )%>
   <% include("../components/recipeLinkComponent" )%>
   <% include("../components/recipeLinkComponent" )%>


    

</main>

<%- include("../partials/footer") %>