<%- include("../partials/head", { title: "Page d'accueil" }) %>

<main>
<p>Recette random du jour :</p>
<a href="<%="?excludeID="+recipe.id +"+"+query%>" >
    <button>recharger une recette</button>
</a>
<%- include("../components/recipeComponent" )%>
</main>
<%- include("../partials/footer") %>