<%- include("../partials/head", { title: "Page d'accueil" }) %>

<main>
  <h1>Bienvenue sur la page d'accueil !</h1>

  <button class="button">Coucou</button>

  <img src="/robot.png" alt="Image d'un robot">
</main>

<%- include("../partials/footer") %>