<%- include("../partials/head", { title: "Page d'accueil" }) %>

<main>
  
  <!-- todo rien juste inclure un composant recette  dans ../componant/recipiesComponent -->
   <% include("../components/recipeComponent" )%>
   


</main>

<%- include("../partials/footer") %>